<a href="https://colab.research.google.com/github/Archita-Shankar/Day1-Assignment-Python-Basics/blob/main/Day_1_Assignment_basics_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DAY 1 Assignment - Basics of Python

In [42]:
#Question 1
# Q1. L is a list defined as L= [11, 12, 13, 14].
# (i) WAP to add 50 and 60 to L.
# (ii) WAP to remove 11 and 13from L.
# (iii) WAP to sort L in ascending order.
# (iv) WAP to sort L in descending order.
# (v) WAP to search for 13 in L.
# (vi) WAP to count the number of elements present in L.
# (vii) WAP to sum all the elements in L.
# (viii) WAP to sum all ODD numbers in L.
# (ix) WAP to sum all EVEN numbers in L.
# (x) WAP to sum all PRIME numbers in L.
# (xi) WAP to clear all the elements in L.
# (xii) WAP to delete L.

L= [11, 12, 13, 14]
# (i)
L.append(50)
L.append(60)
print(L)

# (ii)
del L[0]
del L[2]
print(L)

# (iii)
L.sort()
print(L)

# (iv)
L.sort(reverse=True)
print(L)

# (v)
if (13 in L)==True:
  print("Present")
else:
  print("Not Present")  

# (vi)
print(len(L))

# (vii)
print(sum(L))

# (viii) 
add_odd=0
for s in L:
  if (s%2!=0):
    add_odd+=s
print(add_odd)

# (ix)
add_even=0
for s in L:
  if (s%2==0):
    add_even+=s
print(add_even)

# (x)
add_prime=0
def Prime(s):
  isPrime=0
  for i in range(2,s//2+1):
    if (s%i==0):
      isPrime=1
      break
    else:
      isPrime=0  
  return isPrime

for s in L:
  if (Prime(int(s))==0):
    add_prime+=s

print(add_prime)   

# (xi)
print(L.clear())

# (xii)
del L

[11, 12, 13, 14, 50, 60]
[12, 13, 50, 60]
[12, 13, 50, 60]
[60, 50, 13, 12]
Present
4
135
13
122
13
None

In [52]:
#Question 2
# Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.
# (i) WAP to add new entry in D; key=8 and value is 8.8
# (ii) WAP to remove key=2.
# (iii) WAP to check weather 6 key is present in D.
# (iv) WAP to count the number of elements present in D.
# (v) WAP to add all the values present D.
# (vi) WAP to update the value of 3 to 7.1.
# (vii) WAP to clear the dictionary.

# (i)
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7, 8:8.8}
print(D)

# (ii)
del D[2]
print(D)

# (iii)
print(6 in D)

# (iv)
print(len(D))

# (v)
print(sum(D.values()))

# (vi)
D[3]=7.1
print(D)

# (vii)
print(D.clear())

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
False
5
37.4
{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}
None

In [65]:
#Question 3
# Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
#  S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].
# (i) WAP to add 55 and 66 in Set S1.
# (ii) WAP to remove 10 and 30 from Set S1.
# (iii) WAP to check whether 40 is present in S1.
# (iv) WAP to find the union between S1 and S2.
# (v) WAP to find the intersection between S1 and S2.
# (vi) WAP to find the S1 - S2.

S1={'10', '20', '30', '40', '50', '60'}
S2={'40', '50', '60', '70', '80', '90'}

# (i)
S1.add("55")
S1.add("66")
print(S1)

# (ii)
S1.remove("10")
S1.remove("30")
print(S1)

# (iii)
print("40" in S1)

# (iv)
print(S1.union(S2))

# (v)
print(S1.intersection(S2))

# (vi)
print(S1.difference(S2))

{'60', '10', '20', '50', '30', '40', '55', '66'}
{'60', '20', '50', '40', '55', '66'}
True
{'80', '60', '20', '50', '66', '90', '55', '70', '40'}
{'50', '40', '60'}
{'20', '66', '55'}

In [6]:
#Question 4
# Q4. Write the following program.
# (i) WAP to print 100 random strings whose length between 6 and 8.
# (ii) WAP to print all prime numbers between 600 and 800.
# (iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.


# (i)
import random as r
for i in range(100):
  print (r.randint(6, 8), end=' ')

print("\n")

# (ii)
def Prime(s):
  isPrime=0
  for i in range (2, s//2+1):
    if(s%i==0):
      isPrime=1
      break
  return isPrime

for j in range (600, 800):
  if (Prime(j)==0):
    print(j, end=' ')    

print("\n")
# (iii)
for i in range(100,1000):
  if (i%7==0):
    print(i, end=' ')
  if (i%8==0):
    print(j, end=' ')

8 7 6 6 6 6 6 7 8 6 7 6 8 6 7 8 8 8 7 7 6 8 7 6 8 6 7 6 8 7 8 6 8 8 8 6 8 7 7 6 8 6 8 8 7 7 7 7 6 8 7 6 7 8 7 6 6 7 7 7 7 7 7 6 7 8 6 8 8 8 7 7 7 6 7 7 7 7 6 7 8 6 8 7 8 6 6 7 8 6 6 7 7 7 8 6 7 6 6 7

601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797

799 105 112 799 119 799 126 799 133 799 140 799 147 799 154 799 161 168 799 175 799 182 799 189 799 196 799 203 799 210 799 217 224 799 231 799 238 799 245 799 252 799 259 799 266 799 273 280 799 287 799 294 799 301 799 308 799 315 799 322 799 329 336 799 343 799 350 799 357 799 364 799 371 799 378 799 385 392 799 399 799 406 799 413 799 420 799 427 799 434 799 441 448 799 455 799 462 799 469 799 476 799 483 799 490 799 497 504 799 511 799 518 799 525 799 532 799 539 799 546 799 553 560 799 567 799 574 799 581 799 588 799 595 799 602 799 609 616 799 623 799 630 799 637 799 644 799 651 799 658 799 665 672 799 679 799 686 799 693 799 700 799 707 799 714 799 721 728 799 735 799 742 799 749 799 756 799 763 799 770 799 777 784 799 791 799 798 799 805 799 812 799 819 799 826 799 833 840 799 847 799 854 799 861 799 868 799 875 799 882 799 889 896 799 903 799 910 799 917 799 924 799 931 799 938 799 945 952 799 959 799 966 799 973 799 980 799 987 799 994

In [17]:
#Question 5
# Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find
# (i) Common numbers in the two lists
# (ii) Unique numbers in both the list
# (iii) Minimum in both the list
# (iv) Maximum in both the list
# (v) Sum of both the lists

# (i)
import random as r
A=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l1=r.sample(range(10,30), 5)
l2=r.sample(range(10,30), 5)
print("List 1",l1)
print("List 2",l2)
for i in l1:
  for j in l2:
    if i==j:
      print(j, "is common")
    

# (ii)
for i in l1:
  for j in l2:
    if i!=j:
      print(j,"is unique") 
    
# (iii)
print("Min in list 1 is", min(l1))
print("Min in list 2 is", min(l2))

# (iv)
print("Max in list 1 is", max(l1))
print("Max in list 2 is", max(l2))

# (v)
l1_sum=sum(l1)
l2_sum=sum(l2)
print(l1_sum+l2_sum)

List 1 [10, 20, 27, 21, 19]
List 2 [14, 16, 15, 25, 17]
14 is unique
16 is unique
15 is unique
25 is unique
17 is unique
14 is unique
16 is unique
15 is unique
25 is unique
17 is unique
14 is unique
16 is unique
15 is unique
25 is unique
17 is unique
14 is unique
16 is unique
15 is unique
25 is unique
17 is unique
14 is unique
16 is unique
15 is unique
25 is unique
17 is unique
Min in list 1 is 10
Min in list 2 is 14
Max in list 1 is 27
Max in list 2 is 25
184

In [28]:
#Question 
# Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
# (i) All odd numbers
# (ii) All even numbers
# (iii) All prime numbers

# (i) and (ii)
import random as r
l3=r.sample(range(100,900), 5)
print("The list is ",l3)
for i in l3:
  if (i%2==0):
    print(i,"is even")
  else:
    print(i,"is odd")

# (iii)
for i in l3:
  if (Prime==0):
    print(i,"is prime")  
  else:
    print("Not prime")

The list is  [116, 866, 138, 347, 833]
116 is even
866 is even
138 is even
347 is odd
833 is odd
Not prime
Not prime
Not prime
Not prime
Not prime

In [34]:
#Question 7
# Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.
#  WAP to read all the keys and values from dictionary and write to the file in the given below format.
# Key1, Value1
# Key2, Value2
# Key3, Value3


D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
for k in D:
  print(k, ",", D[k])

1 , One
2 , Two
3 , Three
4 , Four
5 , Five

In [36]:
#Question
# Q8. L is a list defined as L={"One","Two","Three","Four","Five"}.
#  WAP to count the length of reach element from a list and write to the file in the given below format:
# One, 3
# Two, 3
# Four, 4

L={"One","Two","Three","Four","Five"}
for i in L:
  print(i,len(i))

Five 4
One 3
Three 5
Four 4
Two 3

In [48]:
#Question 8
# Q9. Write to the file 100 random strings whose length between 10 and 15.


fp=open('RandomStrings_10-15.txt','w')	# Open the file in writing mode
import string as s
import random as r
print ("String        --> ",s.ascii_letters)

for i in range(10,15):
  random_string=r.sample(s.ascii_letters, i)
  print ("Selected Char --> ",random_string)
  fp.write(str(r.sample(s.ascii_letters, i))+"\n")

fp.close()

String        -->  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
Selected Char -->  ['S', 'I', 'q', 'E', 'g', 'Y', 'h', 'n', 'G', 'N']
Selected Char -->  ['G', 'h', 'r', 'z', 'Q', 'I', 'Z', 'x', 'B', 't', 'u']
Selected Char -->  ['T', 'y', 'r', 'a', 'U', 'm', 'f', 'K', 'h', 'Y', 'Q', 'd']
Selected Char -->  ['Z', 'F', 'X', 'x', 'q', 'h', 'd', 'I', 'A', 'P', 'Y', 's', 'r']
Selected Char -->  ['E', 'h', 'd', 'm', 'L', 'D', 'f', 'v', 'l', 'U', 'w', 'Y', 'X', 'R']

In [49]:
#Question 9
# Q10. Write to the file all prime numbers between 600 and 800.


fp=open('Prime_600-800.txt','w')	# Open the file in writing mode
def Prime(s):
  isPrime=0
  for i in range (2, s//2+1):
    if(s%i==0):
      isPrime=1
      break
  return isPrime

for j in range (600, 800):
  if (Prime(j)==0):
    fp.write(str(j)+"\n") 

fp.close()

In [50]:
#Question 10
# Q11. WAP to calculate the time taken by a program

import time as s
start=s.time()


end=s.time()
print((end-start))

4.7206878662109375e-05

In [56]:
#Question 12
# Q12. WAP to sort following number of elements in a list, calculate time taken and plot the graph. 
# Number of elements in list Time Taken
# 5k T1
# 10k T2
# 15k T3
# 20k T4
# 25k T5
import time as t
lt1=r.sample(range(1,100000), 5000)
start_lt1=t.time()
lt1.sort()
end_lt1=t.time()
print("Time Taken to sort 5k elements is:",(end_lt1-start_lt1)*100,"ms")

lt2=r.sample(range(1,1000000), 10000)
start_lt2=t.time()
lt2.sort()
end_lt2=t.time()
print("Time Taken to sort 10k elements is:",(end_lt2-start_lt2)*100,"ms")

lt3=r.sample(range(1,15000000), 150000)
start_lt3=t.time()
lt3.sort()
end_lt3=t.time()
print("Time Taken to sort 15k elements is:",(end_lt3-start_lt3)*100,"ms")

lt4=r.sample(range(1,20000000), 200000)
start_lt4=t.time()
lt4.sort()
end_lt4=t.time()
print("Time Taken to sort 20k elements is:",(end_lt4-start_lt4)*100,"ms")

end_lt5=r.sample(range(1,25000000), 250000)
start_end_lt5=t.time()
end_lt5.sort()
end_end_lt5=t.time()
print("Time Taken to sort 25k elements is:",(end_end_lt5-start_end_lt5)*100,"ms")

Time Taken to sort 5k elements is: 0.14302730560302734 ms
Time Taken to sort 10k elements is: 0.2048492431640625 ms
Time Taken to sort 15k elements is: 6.621456146240234 ms
Time Taken to sort 20k elements is: 9.070992469787598 ms
Time Taken to sort 25k elements is: 10.213136672973633 ms

![Screenshot 2023-06-07 231324.png]()

In [62]:
#Question 13
# Q13. WAP to create a dictionary of student marks in five subjects and you have to find the student
#  having maximum and minimum average marks.

D2={"Eng":90,"Maths":95,"SST":98,"Sci":92,"Hin":91}
print("Max is",max(D2))
print("Min is",min(D2))
print("Average is",sum(D2.values())/len(D2))

Max is Sci
Min is Eng
Average is 93.2